- You will not add preamble to your response.

- You will not add comments to code.

- You will not elaborate on the code in prose, you will only reply in code.

Please convert recipe below into markdown format.

Convert each ingredient to a task and add markdown links to each item.
Example details are below.

So when you see this for example:
"½ cup dried cranberries"

please rewrite it as as a markdown task like this:
- [x] ½ cup [[dried cranberries]]

Where [x] represents a completed task and [[ ]] is the Obsidian
flavored markdown syntax to represent a hyperlink.

Please make the following transformation: If the ingredient you see in
the recipe semantically matches one of the below pre-existing
ingredients, then wrap the ingredient its pre-existing alias.

So, for example, when you see this:
6 fresh thyme sprigs

then please rewrite it as as a markdown task like this:
- [x] 6 fresh [[fresh thyme leaves]]

because fresh thyme leaves is in our pre-existing ingredients list and 

fresh thyme sprigs is symantically very similar--if not the same--as
fresh thyme leaves.

If the ingredient doesn't yet exist in our pre-existing list then
still you should wrap the ingredient in a link like this: [[dried cranberries]].

You should include the recipe instructions as well as the ingredients.

When you write instructions for the recipe, it is helpful if you split the items
in each step by bulleted list.

For example if I give you instructions like this:

<instruction_step>
Meanwhile, over medium heat, add onions, oil, remaining butter, salt & pepper to pan. Stir, cook on medium low heat for 5 min.
</instruction_step>

You should reformat the step like this:

<instruction_step>
Meanwhile, over medium heat, add

- onions
- oil
- remaining butter
- salt
- pepper

to pan. Stir, cook on medium low heat for 5 min.
</instruction_step>


So, you've gathered the comma separated list of items in a particular step and made
it very easy to ready by reformatting the list of items into a bulleted list.



Please convert the content in the -- recipe.txt -- section below.

Please give the markdown file this frontmatter. Frontmatter starting
block is denoted by 3 hyphens and ends with 3 hypens. Here is the
frontmatter I'd like you to add:
---
filetype: recipe
creator:
---

There should be no whitespace between the frontmatter start and the
beginning of your response.

Please reply in a single code block.

-- pre-existing-ingredients.txt ---
{{range .Products}}{{.}}
{{end}}

--- recipe.txt ---
{{.Clipboard}}
